:root {
    --white: #ffffff;
    --dark: #1f1f1f;
    --links: #004c4c;
    --hover: #006666;
    --primary-1: #008080;
    --primary-2: #66b2b2;
    --primary-light: #b2d8d8;
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: var(--dark);
}

.container {
    width: 80%;
    margin: 0 auto;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--white);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar img {
    width: 150px;
}


.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex: 0.5;
}

.nav-item a {
    text-decoration: none;
    color: var(--links);
    padding-bottom: 1em;
    transition: 100ms ease-in-out;
}

.nav-item a:hover {
    color: var(--hover);
    border-bottom: 3px solid var(--primary-2);
}

.btn {
    font-size: .9em;
    font-family: inherit;
    background-color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid var(--primary-2);
  padding: 12px 20px;
  transition: border 200ms ease-in;
}

.btn:hover {
    transform: scale(1.03);
}

#hero {
    color: white;
    background-image: url('bg1.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: calc(100vh - 80px);
    position: relative;
}

.overlay {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(48, 48, 48, 0.77);
}

.titles-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 4;
}

.green-line {
    width: 300px;
    border: 2px solid var(--primary-2);
    background-color: var(--primary-2);
    margin: 2em 0;
    animation-name: line;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.titles-box h1 {
    font-size: 2.5rem;
}

.titles-box h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1mm;
}

@keyframes line {
    from {margin-left: -1000px}
    to {margin-left: 0;}
  }



  .about-box {
      max-width: 800px;
    margin: 4em auto;
    display: grid;
    grid-template-columns: 1fr minmax(min-content, 400px);
    gap: 2rem;
  }

  .hor-line {
      width: 50px;
      border: 2px solid var(--primary-2);
      background-color: var(--primary-2);
      margin: 2em 0;
  }

  .right p {
      font-size: 1.2rem;
      line-height: 1.4
  }

  #about-img {
      width: 300px;
  }

  #banner {
    /* background: linear-gradient(to right, #74ebd5, #acb6e5); */
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 200px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 2em 0;
      padding: 2em;
      color: var(--white);

  }

  .social-icons .icon {
      width: 30px;
      margin: 0 2em;
      fill: white;
  }

  footer {
      height: 60px;
      background-color: var(--primary-light);
      color: var(--dark);
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #portfolio {
      margin: 7em auto;
  }

  .portfolio-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .portfolio-items {
      margin: 3em auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      grid-column-gap: 1em;
  }

  .portfolio-items a {
      min-width: 100%;
  }

  .portfolio-items img {
      width: 90%;
  }

  .portfolio-items .card {
    padding: 2em 4em;
  }
  .card h5{
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1em;
  }

  @media only screen and (max-width: 768px) {
    .titles-box h1 {
        font-size: 2rem;
    }

    .titles-box h3 {
        font-size: 1rem;
    }
      .about-box {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .right h1{
          text-align: center;
      }

      .hor-line {
          width: 50%;
          margin: 2em auto;
      }

      #banner {
          flex-direction: column;
          height: 200px;
          justify-content: space-around;
      }

      .portfolio-items {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
  }

  @media only screen and (max-width: 460px) {
    .titles-box h1 {
        font-size: 1.4rem;
    }
}